*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: sans-serif;
}

header{
    background-color: #FF6900;
    width: 100%;
}

.conteiner-flex{
    display: flex;
    max-width: 1170px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    
}

ul a{
    color:white;
    list-style: none;
    display: inline-block;
    text-decoration: none;
}
ul li{
    color:white;
    display: inline-block;
    list-style: none;
    

}

.conteiner-flex  img{
    width: 150px;
}
.conteiner-flex .icons{
    color: white;
}
main {
    max-width: 1170px;
    margin: auto;
    padding: 50px;
}

.columns {
    display: flex;
    flex-wrap: wrap;
}
.col {
    width: calc(100% / 3);
    padding: 20px;
    
}
.product img {
    width: 100%;
}
.product{
    position: relative;
}
.icons a{
    color:white;
}

.tag {
    position: absolute;
    bottom: 50px;
    left: 0;
    padding: 5px;
    font-size: 10px;
    color:white;
    font-weight: bold;
}
.tag-red {
    background-color: red;
}
.tag-green {
    background-color:#008000;
    left: 40px;
    font-size: 10px;
    padding: 5px;
}
.tag2-green {
    background-color:#008000;
}
.heart{
    position: absolute;
    top: 5px;
    right: 0;
    background-color: white;
    font-size: 30px;
    padding: 0px 5px;
}
.text{
    font-weight: bold;
}
.marca{
    font-size: 13px;
}
.prezzo-scontato{
    color: red;
    font-size: 12px;
    font-weight: bold;
}
.prezzo-originale{
    text-decoration: line-through;
    font-weight: lighter;
    font-size: 12px;
}
footer{
    background-color: #1A1A1A;
}

.footer-flex{
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    margin: auto;
    align-items: center;
    padding: 20px;
}
h3{
    color: white;
    font-weight: bold;
}
h4{
    color:white;
    font-size: 12px;
}

.footer-icons{
    color: white;
}
.footer-flex li{
    font-size: 12px;
    padding: 5px 0px 5px 5px;
}

.img-principale{
    display: block;
}
.hover-img{
    display: none;
}

.product:hover .img-principale{
    display: none;
}
.product:hover .hover-img{
    display: block;
}

.heart:hover{
    color:red
}